#card-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.card {
    border: 1px solid black;
    padding: 15px;
    border-radius: 5px;
    background-color: #ccc;
}

.hidden {
    display: none;
}