input[type="text"] {
  padding: 0;
  margin-bottom: 10px;
  box-sizing: border-box;
}

fieldset {
  margin-bottom: 10px;
}

#card-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-content: start;
  gap: 10px;
}

.card {
  border: 1px solid black;
  padding: 15px;
  border-radius: 5px;
  background-color: #ccc;
  height: 250px;
  width: 250px;
  text-align: center;
  display: grid;
  grid-template-rows: auto auto auto;
  place-items: center;
}

.card > button {
  width: 100px;
  height: 50px;
}

#new-book {
  height: fit-content;
}

.hidden {
  display: none;
}

body {
  display: grid;
  grid-template-columns: 3fr 1fr;
  height: 100vh;
}

.sidebar {
  display: grid;
  grid-template-rows: repeat(2, min-content);
  place-items: center;
  gap: 15px;
}

#add-book {
  border: 1px solid black;
  padding: 15px;
}

input:invalid {
  border: 1px solid red;
}
